.pagination{
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.page__number{
    padding: 8px;
    border:none;
    background-color: white;
    cursor: pointer;


}


.list__pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow{
    border:none;
    background-color: white;
    cursor: pointer;
}

.page__number:disabled,.arrow:disabled{
    cursor: default;
}


.pagination.dark .page__number,
.pagination.dark .arrow{
    background-color: #23272f;
    color: #f6f7f9;
}

.pagination.light .page__number,
.pagination.light .arrow {
    background-color: white;
    color: black;
}